@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1 class="display-3">Welcome to KEA community share Board!</h1>
  <hr class="my-4">
  <p>You have to to the right place to post about your amazing times at KEA and interact with others.</p>
</div>

<img src="~/images/2studieliv.jpg" class="mainImg">