@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Security </h3>
<br>
<p>We have taken technical and organizational measures to protect your data against accidental or unlawful erasure, publication, loss, destruction, unauthorized disclosure, misuse, or any other unlawful processing.</p>
<br><br>
<h3>Purpose </h3>
<br>
<p> t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable EnglishWe use personal data to deal with your request, make our services better and to ensure quality in our products and services as well as in our contact with you.</p>
<br><br>
<h3>Retention period </h3>
<br>
<p>We store personal data for as long as it is relevant in order for us to deal with your request or where filing is required by law. After this, your personal data will be deleted. t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
<br><br>
<h3>Your rights </h3>
<br>
<p>You are entitled to be informed of the personal data we have registered about you; and you may at any time have the stored personal data rectified or object to its use. Where the processing of your personal data is based on your consent, you have the right to change or revoke your consent at any time. In addition, any personal data registered about you which we are not required by law to retain may be deleted on your request. Finally, you are entitled to receive the personal data provided by you in a structured, commonly used and machine-readable format (data portability).</p>
