@model cbsStudents.Models.Entities.Post
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Edit";
}

<h1>Delete Post</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DeletePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @await Html.PartialAsync("_CreateDeletePost")
        </form>
    </div>
</div>
<br/>
<h3>Comments</h3>
<hr />
<partial name="_commentsPartial.cshtml" />
<br />

<a asp-area="" asp-controller="Comments" asp-action="Create"><button type="button" class="btn btn-primary"> New Comment </button></a>
<div><br>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
