@model cbsStudents.Models.Entities.Post


@{
    ViewData["Title"] = "Edit";
}

<h1>View Post</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DeletePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @await Html.PartialAsync("_CreateViewPost")
        </form>
    </div>
</div>
<br/>
<h3>Comments</h3>
<hr />

<partial name="_commentsPartial.cshtml" />
<br />
<a asp-area="" asp-controller="Comments" asp-action="Create"><button type="button" class="btn btn-primary"> New Comment </button></a>
<br>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
